.trigger {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 1px #fff inset;
	-webkit-box-shadow: 0 1px 1px #fff inset;
	box-shadow: 0 1px 1px #fff inset;
	background: -moz-linear-gradient(center top, #efefef 50%, #ddd 50%);
	background-color: #ddd;
	border: 1px solid #ddd;
	color: #888;
	cursor: pointer;
	margin-bottom: 1px;
	padding: 5px;
	text-shadow: 0 1px 0 #fff;
	width: 500px;
}

h3.trigger {
	margin: 0.2em 0 0.2em;
}

.trigger_active {
	color: #333;
}
.toggle_container {
	padding: 0px 0px;
	width: 500px;
}
.toggle_container p {
	margin: 0px !important;
}

